body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  background-color: rgb(100, 99, 99, 0.9);
  text-align: left;
  font-weight: 200;
  margin-left: 500px;
  margin-right: 500px;
  padding: 10px;
  padding-left: 30px;
}

/* .question {
  border: 500px;
} */

p {
  color: white;
  background-color: grey;
  text-align: right;
  font-weight: 200;
}